* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-color: lightblue;
}
.navbar .navbar-light{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 500px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: red;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #ea3057;
    transition: .4s;
}
.btn {
    background-color: red;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1 {
    color: black;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3 {
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4 {
    color: purple;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 0%;
}
.about-me-container {
    width: 100%;
    padding: 0px 0px;
    background-color: #e5e5e5;
}
.about-img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    padding-top: 0%;
} 
.rounded{
    height: auto;
    width: 300px;
    margin-right: 50px;
}
.about-text {
    width: 550px;
}
.main {
     width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text-h2 {
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    align-items: right;
}
 .about-text-p {
     color:black;
     letter-spacing: 1px;
     line-height: 28px;
     font-size: 18px;
     margin-bottom: 45px;
 }   

 .Projects {
     background: rosybrown;
     width: 100%;
     padding: 100px 0px;
 }
 .horiseon-card {
     width: 50%;
     padding: 60px 0px;
     text-align: center;
 }
 .css-card {
     width: 50%;
     padding: 60px 0px;
     text-align: center;
 }
 .javascript-card {
     width: 50%;
     padding: 60px 0px;
     text-align: center;
 }
 .title-h2 {
     color: black;
     font-size: 75px;
     width: 1130px;
     margin: 30px auto;
     text-align: center;
     padding-bottom: 30;
     padding-top: 0px;
 }
 .box {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 400px;
 }
 .horiseon-card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
 }
 .css-card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
 }
 .javascript-card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
 }
 h5 {
     color: black;
     font-size: 23px;
     margin-bottom: 15px;
 }
 .pra p{
     color:black;
     font-size: 16px;
     line-height: 27px;
     margin-bottom: 25px;
 }
 .contact-me {
     width: 100%;
     height: 290px;
     background: rosybrown;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     padding-top: 70px;
 }
 .contact-me p{
     color: white;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 25px;
 }
 .contact-me .button-two {
    display: inline-table;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
 }
 .contact-title {
    color: black;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    padding-top: 0px;
 }
/////////////////////////////////////////
.sub-section-alternative .h2 {
    align-items: center;
}

.project-title {
    align-items: center;
}
.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
    color: #e5e5e5;
}
.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}
///////////////////////////////////////////////////





@media (max width: 600px) {
    .about-me {
        color: blueviolet;
        padding-left: 0%;
    }
}